<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务器名称-->
    <add key="SoftName" value="定位拓展服务器"/>
    <!--120业务服务器IP地址-->
    <add key="BSSServerIP" value="192.168.10.192" />
    <!--120业务服务器监听端口-->
    <add key="BSSServerPort" value="1003" />
    <!--与120业务服务器连接的本地端口-->
    <add key="BSSLocalPort" value="2000" />
    <!--InsertInterval秒-->
    <add key ="InsertInterval" value="10"/>
      <!--本地单位编号-->
    <add key="LocalUnitCode" value="000000" />
    <!--手机定位服务的Url地址-->
    <add key="LBSUrl" value="http://218.17.142.19:10180/emergency/ws/emergencyLocation"/>
    <!--<add key="LBSUrl" value="http://218.17.142.19:10180/emergency/ws/emergencyLocation"/>-->
    <!--手机定位服务参数-->
  <add key="ACCOUNT" value="sys_sys" />
  <add key="PASSWORD" value="123456" />
  <add key="CITYNUMBER" value="0758" />
  <add key="AREANUMBER" value="441624" />
  <add key="InvokeMothed" value="Direct" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>